<!doctype html>
<html
  lang="en"
  class="w-full h-full m-0 flex flex-col justify-center items-center"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/src/styles.css" rel="stylesheet" />
    <title>Astro Basics</title>
  </head>
  <body class="w-full h-full m-0 flex flex-col justify-center items-center">
    <div
      class="p-4 flex flex-col gap-4 justify-center w-full h-full m-0 max-w-[1000px]"
    >
      <slot />
    </div>
  </body>
</html>
