---
import { OTPForm } from '@/components/otp_form.tsx'
import Layout from '@/layouts/main.astro'
import { QRCodeButton } from '@/components/qr_code_button.tsx'
---

<Layout>
  <h1 class="text-2xl text-center">To continue please enter your OTP!</h1>
  <OTPForm client:load />
  <QRCodeButton client:load />
</Layout>
