---
import { OTPForm } from "../components/otp_form";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>To continue please enter your OTP!</h1>
  <OTPForm client:load />
  <button class="btm text-xs mt-4"> need a QR code ?</button>
</Layout>
