---
import { OTPForm } from '@/components/otp_form'
import Layout from '@/layouts/layout.astro'
import { QRCodeButton } from '@/components/qr_code_button'
---

<Layout>
  <h1 class="text-2xl text-center">To continue please enter your OTP!</h1>
  <OTPForm client:load />
  <QRCodeButton client:load />
</Layout>
