---
import Layout from "../layouts/Layout.astro";
import { ProtectedRoute } from "../components/protect_route";
import { LogOutButton } from "../components/log_out_button";
---

<ProtectedRoute client:only>
  <Layout>
    <h1 class="text-2xl text-center">Welcome back!</h1>
    <LogOutButton client:load />
  </Layout>
</ProtectedRoute>
